@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

body {
    width: 350px;
}

.input {
    width: 100%;
}

.input.is-completed {
    text-decoration: line-through;
}

.icon {
    color: gray;
}

.icon.clickable {
    cursor: pointer;
}

.greeting {
    padding-top: 5px;
    text-align: center;
    color: gray;
}

.today {
    color: red;
}

.tomorrow {
    color: darkred;
}

.upcoming {
    color: darkviolet;
}

.unscheduled {
    color: blue;
}

.completed {
    color: green;
}

.project {
    color: brown;
}

.tag {
    color: darkolivegreen;
}

.divider {
    padding: 10px 0px;
}
